name: CICD Terraform Ansible Hackathon

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Terraform Init and Apply
      env:
        TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      run: |
        cd hackathon/infra/terraform/terraform-ec2-aws
        terraform init
        terraform plan -var="public_key=${{ env.TF_VAR_public_key }}"
        terraform apply -auto-approve -var="public_key=${{ env.TF_VAR_public_key }}"

#    - name: Install Ansible and Configure Infrastructure
#      run: |
#        sudo apt-get update
#        sudo apt-get install ansible -y
#        cd hackathon/infra/ansible/ansible-ec2-aws
#        ansible-playbook -i inventory playbook.yml

