name: CICD Terraform Ansible Hackathon

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Terraform Init Plan and Apply
      env:
        TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      run: |
        cd infra/terraform/terraform-ec2-aws
        terraform init
        terraform plan -var="public_key=${{ env.TF_VAR_public_key }}"
        #terraform apply -auto-approve -var="public_key=${{ env.TF_VAR_public_key }}"

    - name: Debug token usage
      run: |
        if [ -z "${{ secrets.PERSONAL_ACCESS_TOKEN }}" ]; then
          echo "Token is empty"
        else
          echo "Token is present"
        fi

    - name: Commit Terraform State
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add infra/terraform/terraform-ec2-aws/terraform.tfstate
        git commit -m "Update Terraform state file" || echo "No changes to commit"
        # Ensure the token is being used properly in the URL
        git remote set-url origin https://${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/danielitogomez/hackathon.git
        git push origin HEAD:main

    - name: Install Ansible
      run: |
        sudo apt-get update
        sudo apt-get install ansible -y

    - name: Run Ansible Playbook
      run: |
        eval "$(ssh-agent -s)"
        ssh-add <(echo "${{ secrets.SSH_PRIVATE_KEY }}")
        mkdir -p ~/.ssh
        echo "Host *
              StrictHostKeyChecking no
              UserKnownHostsFile=/dev/null" > ~/.ssh/config
        chmod 644 ~/.ssh/config
        cd infra/ansible/ansible-ec2-aws
        ansible-playbook -i inventory playbook.yml
